* {
    margin: 0;
    padding: 0;
}


.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(banner2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;

}

.container {
    font-size: 20px;
    font-weight: lighter;
}

.container img {
    padding-top: 20px;
}

.container a {
    color: #fff;
}

.navbar-nav {
    padding-top: 20px;
}

.header h1 {
    padding-top: 120px;
    padding-bottom: 0;
    font-size: 50px;
    font-style: italic;
}

.header p {
    margin: 18px 0;
    font-size: 20px;
    font-style: italic;
}

/*ABOUT-US*/

.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.information h1 {
    font-family: 'Lobster', cursive;
    color: blue;
    padding-bottom: 20px;
}

.information p {
    font-style: italic;
    padding-bottom: 20px;
}


/*BANNER-SECTION*/

.banner2 {

    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner2 h1 {
    color: #fff;
    font-style: italic;
    padding-top: 120px;
}

.banner2 p {
    padding-top: 140px;
    color: #fff;
}

/*structure*/

.structure {
    padding-top: 100px;
}

.structure h1 {
    font-family: 'Lobster', cursive;
    color: blue;
    text-align: center;
    padding-bottom: 40px;
}

.card-title {
    text-align: center;
    font-style: italic;
}

.card-text {
    text-align: center;
}

.card-img-top {
    width: 200px !important;
}

/*contact*/

.contact {
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact h1 {
    font-family: 'Lobster', cursive;
    color: blue;
    text-align: center;
    padding-bottom: 20px;
}

.contactcol {
    padding-top: 40px;
}

#contact {
    padding-left: 40px;
}


/*footer*/

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: blue;
    color: #fff;
    text-align: center;
    font-style: italic;
}

.footer h1 {
    font-family: 'Lobster', cursive;
    padding-bottom: 40px;
}

.footer p {
    font-style: italic;
}
